<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Referral : http://stackoverflow.com/questions/4823358/spring-configure-responsebody-json-format -->
    <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper">
            <bean class="com.fasterxml.jackson.databind.ObjectMapper" p:serializationInclusion="NON_NULL"/>
        </property>
    </bean>

    <!-- Referral : http://stackoverflow.com/questions/14501262/best-way-of-database-pooling-in-spring-for-production-system -->
    <bean id="mainDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          p:driverClass="${jdbc.driverClassName}" p:jdbcUrl="${jdbc.main_url}" p:password="${jdbc.password}"
          p:acquireIncrement="1" p:checkoutTimeout="3000" p:maxIdleTime="3" p:maxPoolSize="30" p:minPoolSize="1"
          p:numHelperThreads="1000" p:overrideDefaultUser="${jdbc.username}"
          p:overrideDefaultPassword="${jdbc.password}" p:propertyCycle="3" p:statementCacheNumDeferredCloseThreads="1"
          p:testConnectionOnCheckin="true" p:unreturnedConnectionTimeout="7" p:idleConnectionTestPeriod="5">
        <property name="properties">
            <props>
                <prop key="user">${jdbc.username}</prop>
                <prop key="password">${jdbc.password}</prop>
            </props>
        </property>
    </bean>
</beans>